<form method='post' action='/products'>
  <fieldset>
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        <input name="product[name]" size="30" type="text" placeholder="Product Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Price</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span>
          <input name="product[price]" type="number" placeholder="Product Price" class="span2" id="prependedInput">
        </div>
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Create Product">
    </div>
  </fieldset>
</form>